name: Release Please

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Release Please Action
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          # package-name: product-suggestions
          token: ${{ secrets.GITHUB_TOKEN }}
          # config-file: release-please-config.json
          # manifest-file: .release-please-manifest.json
          
