name: release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v3

      - name: Get bump version
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Version bump and release
        id: release
        uses: ncipollo/release-action@v1
        with:
          tag: true
          release_name: "Release ${{ steps.release.outputs.tag }}"
          draft: false
          prerelease: false
          files: |
            dist/my-artifact-*.zip
            dist/my-artifact-*.tar.gz